# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Vector Database
vector_db/

# Downloaded Files
downloades/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/
.cache/

# Logs
*.log

# Streamlit Cache
.streamlit/secrets.toml